{% extends "base.html" %}
{% block home_active %}active{%end%}
{% block title %}Velocity Boilerplate - Home{% end %}


{% block content %}

    <h2>What is Velocity Boilerplate</h2>
        <h4>
            Its a Tornado project where the first few steps are already taken care of.
            Im not saying this is final or that it is any good, its just a place to start.
        </h4>
        <p>
            <h3>What has been done here:</h3>
            <ul> 
         
              <li>user login</li>
              <li>facebook user login</li>
              <li>SQL Alchemy -> MySQL configuration</li>
              <li>Tornado project configuration</li>
              <li>some template examples</li>
              <li>some handler examples</li>
              <li>integration with Twitter Boostrap 2</li>
              <li>some form submission examples</li>
        </p>
         
          
{% end %}